/**
 * https://www.joshwcomeau.com/css/interactive-guide-to-flexbox/
 */

/* --- List Styling --- */
.list-outer {
    display: flex;
    /* TODO: Remove these to hide the border
    border-style: solid;
    border-width: 1px;
    */
}

.list {
    display: flex;
    flex-direction: column;
    /* This ends up being the width of the list by default.
       Once there are too many lists, it'll start squishing them equally.
       This seems to be what we want.
     */
    flex-basis: 200px;
    border-color: #BEBEBE;
    border-style: solid;
    border-radius: 3px;

    border-width: 1px;
    padding: 1px;
    margin: 2px;
}

/* Starts unselected. */
.list-end-cursor {
    border-style: solid;
    border-radius: 2px;
    background-color: #FFFFFF;
    height: 1px;

    border-color: #BEBEBE;
    border-width: 1px;
    padding: 1px;
    margin: 2px;
}

.list-element {
    font-size: 12px;
    font-family: Verdana, sans-serif;
    border-color: #BEBEBE;
    border-style: solid;
    border-radius: 3px;
    /* shows newlines in elements rather than dealing with <br/>s */
    white-space: pre;

    border-width: 1px;
    padding: 2px;
    margin: 2px;
}

input[type="button"] {
    font-size: 12px;
    font-family: Verdana, sans-serif;
    padding: 2px 8px;
    border-style: solid;
    border-radius: 3px;
    border-color: #BEBEBE;
    border-width: 1px;
    appearance: auto;
    background-color: #FAFBFC;
}

input[type="button"]:hover {
    background-color: #F3F4F6;
    transition-duration: 0.1s;
}

/* --- Form Styling --- */

form {
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}

/* --- Help Styling --- */

.help-container {
}

.help {
    border-color: #BEBEBE;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    background-color: #FCFCF7;
}

.help-header {
    font-size: 12px;
    font-family: Verdana, sans-serif;
    padding: 2px;
    margin: 2px;
}

.help-groups-container {
    display: flex;
    flex-direction: row;
    flex-basis: 300px;
}

.help-group {
    border-color: #BEBEBE;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    padding: 2px;
    margin: 2px;
    flex-grow: 1;
}

.help-group-header {
    font-size: 12px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    padding: 2px;
    margin: 2px;
}

.help-action-container {
    display: flex;
    flex-direction: row;
}

.help-action {
    font-size: 11px;
    font-family: Verdana, sans-serif;
    font-weight: normal;
    padding: 2px;
    margin: 2px;
    cursor: help;
}

.help-key-container {
    display: flex;
    flex-direction: row;
}

.help-key {
    font-size: 11px;
    font-family: Verdana, sans-serif;
    font-weight: normal;
    border-color: #BEBEBE;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    padding: 2px;
    margin: 2px;
}
